.cross-btn {
	align-items: center;
	justify-content: center;
	width: 11px;
	height: 22px;
	top: 20px;
	left: 20px;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	color: #3C3C3C;
}

.cross-btn:hover,
.cross-btn:focus {
	text-decoration: none;
    color: #FF7700;
}