.pwg-banner .btn {
  letter-spacing:normal;
  font-size:26px;
}

.self-hosted-piwigo, .cloud-hosted-piwigo {
  height: 400px;
}

.contact-logo {
    height: 204px;
    background-position: 66% 38px;
}