.pwg-banner .btn, .get-started .btn {
  font-size: 12px;
  padding: 15px 18px;
}

.self-hosted-piwigo .btn-download-piwigo {
    padding-top: 58px;
}

.contact-logo {
    height: 204px;
    background-position: 66% 38px;
}

@media (max-width: 991px) {
.pwg-banner .pwg-tagline h1{
font-size:45px;
}
}