.compare-plans-container {
  width: 100%;
  max-width: 1259px;
  margin: 40px auto;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #E9ECEF;
  font-family: "Sora", sans-serif;
  overflow-x: auto;
}

.compare-plans-table {
  width: 100%;
  min-width: 950px;
  border-collapse: collapse;
}


.compare-plans-table thead th {
  padding: 35px 15px;
  background: #FFF;
  text-align: center;
  vertical-align: top;
}

.compare-plans-table thead th strong {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: #212529;
  margin-bottom: 5px;
}

.compare-plans-table thead th small {
  display: block;
  font-size: 10px;
  color: #888;
  font-weight: 400;
  line-height: 1.2;
  max-width: 120px;
  margin: 0 auto;
}

.section-header td {
  text-align: left !important;
  padding: 40px 25px 15px 25px !important;
  font-size: 22px;
  font-weight: 800;
  color: #FF4769 !important; 
  background: #FFF !important;
  border: none;
}

.compare-plans-table td {
  padding: 18px 25px;
  font-size: 14px;
  color: #444;
  border-bottom: 1px solid #F1F1F1;
  text-align: center;
}

.feature-label {
  text-align: left !important;
  width: 380px;
  background: inherit;
}

.label-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feature-label span {
  font-weight: 600;
  color: #333;
}

.compare-plans-table tbody tr:nth-child(even):not(.section-header) {
  background-color: #F7F7F7;
}


.icon-rounded-warning {
  color: #D1D1D1;
  font-size: 16px;
  cursor: pointer;
}


.icon-rounded-check {
  color: #2ED573;
  font-size: 20px;
  font-weight: bold;
}


.value-text {
  font-weight: 500;
  color: #555;
}


@media (max-width: 991px) {
  .feature-label {
    position: sticky;
    left: 0;
    z-index: 2;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
  }
  
  .compare-plans-table tr:nth-child(odd) .feature-label {
    background: #FFF;
  }
  
  .compare-plans-table tr:nth-child(even) .feature-label {
    background: #F7F7F7;
  }
  
  .section-header td {
    position: sticky;
    left: 0;
  }
}