.storage-popover-content {
  width: 400px !important;
  height: 215px !important;
  padding: 25px !important;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
}

.storage-grid-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.storage-option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 47px;
  padding: 0;
}

.popover-title {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #333333 !important;
  line-height: 1.2 !important;
  margin-bottom: 10px !important;
}

.popover-description {
  font-size: 13px !important;
  line-height: 1.4 !important;
  color: #555555 !important;
  margin-bottom: 0;
}

.storage-amount span {
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #ff4769 !important;
  display: block;
  margin-bottom: 3px;
}

.price-display-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0px;
}

.price-display-wrapper .currency {
  font-size: 12px !important;
  font-weight: 700 !important;
  margin-right: 1px;
  color: #212529 !important;
}

.price-display-wrapper .price-number {
  font-size: 17px !important;
  font-weight: 800 !important;
  color: #212529 !important;
  line-height: 1;
}

.price-details p {
  font-size: 9px !important;
  color: #777777 !important;
  margin: 0 !important;
  line-height: 1.2 !important;
  white-space: nowrap;
}

.storage-grid-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  gap: 10px;
  width: 100%;
}

.storage-item-wrapper {
  flex: 1;
}

@media (max-width: 767px) {
  .storage-item-wrapper {
    width: 100% !important;
  }

  .storage-popover-content {
    width: 300px !important;
    height: auto !important;
    padding: 15px !important;
  }

  .storage-grid-container {
    flex-direction: column !important;
    gap: 15px !important;
    margin-top: 15px !important;
  }

  .storage-option-card {
    flex: 1 1 100% !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-align: left !important;
    width: 100% !important;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px !important;
    width: 100% !important;
  }

  .storage-amount span {
    font-size: 16px !important;
    margin-bottom: 0 !important;
  }

  .price-display-wrapper {
    margin-bottom: 0 !important;
  }

  .price-details p {
    text-align: right !important;
  }
}
