.triple-true-header {
  max-width: 720px;
  margin: 0 auto 20px;
  text-align: center;
}

.triple-true-title {
  margin: 0 0 17px;
  text-align: center;
}

.triple-true-subtitle {
  display: block;
  margin: 0 auto;
  color: var(--dark_text);
  text-align: center;
  max-width: 610px;
  width: 100%;
}

.feature-benefits-strip {
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 121px;
  padding: 40px 120px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 70px;
  box-sizing: border-box;
  border-radius: 10px;
  background: var(--grey);
}

.feature-benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.feature-benefit-icon {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--secondary_flash_green);
  color: var(--accent_green);
  font-size: 18px;
}

.feature-benefit-text {
  max-width: 210px;
}

.green-feature-benefit-icon{
  background: var(--secondary_flash_green);
  color: var(--accent_green);
}

.orange-feature-benefit-icon{
  background: var(--secondary_orange);
  color: var(--main_orange);
}

.pink-feature-benefit-icon{
  background: var(--secondary_pink);
  color: var(--main_pink);
}

@media (max-width: 768px) {
  .triple-true-header {
    padding: 0 20px;
  }

  .triple-true-title {
    padding: 0 20px;
  }

  .triple-true-subtitle {
    padding: 0 40px;
  }

  .feature-benefits-strip {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    padding: 71px;
    margin-bottom: 70px;
    width: 100%;
    max-width: 320px;
  }

  .feature-benefit-item {
    gap: 20px;
  }

  .feature-benefit-text {
    max-width: 150px;
  }
}
