.navbar-default .navbar-nav > li > a {
  font-size: 12px;
}

.pwg-banner .pwg-tagline p {
  font-size: 14px;
}

.get-piwigo {
    height: 200px;
}
.self-hosted-piwigo, .cloud-hosted-piwigo {
  height: 450px;
}

.cloud-hosted-piwigo h2 {
    margin-bottom: 53px;
}

.contact-logo {
    height: 220px;
    background-position: 66% 38px;
}