.navbar-default .navbar-nav > li > a {
  font-size: 12px;
}

.pwg-banner .pwg-tagline p {
  font-size: 14px;
}

.cloud-hosted-piwigo {
    padding-bottom: 50px;
}

.cloud-hosted-piwigo h2 {
    margin-bottom: 65px;
}

.contact-logo {
    height: 220px;
    background-position: 66% 38px;
}