.contact-logo {
    height: 204px;
    background-position: 66% 38px;
}

@media (max-width: 1200px){
    .pwg-banner .get-piwigo-button p{
        display: block;
        margin-left: -10px;
        margin-top: 20px;
    }
}
