.submenu_button {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    padding: 6px !important;
    border-radius: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #8D8E8E;
    text-decoration: none;
}

.submenu_button:hover {
    padding: 6px !important;
    border-radius: 5px;
    background: #F7F7F7;
    text-decoration: none;
    color: #8D8E8E;
}

.submenu_button:focus {
    padding: 6px !important;
    border-radius: 5px;
    text-decoration: none;
    color: #8D8E8E;
}

.submenu_button_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 8px;
    opacity: 1;
    color: #64DBBD;
    line-height: 1;
}
