.submenu-item,
.submenu-item:hover,
.submenu-item:focus {
  text-decoration: none !important;
  color: inherit;
  display: flex;
  align-items: center;
  border-radius: 12px; /* Arrondi fidèle au visuel */
  padding: 8px;
  margin: 5px;
  transition: all 0.3s ease;
  gap: 10px;
  width: 234px;
}

.submenu-item:hover {
  background-color: #fafafa;
}

.icon-box {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon-box i {
  font-size: 16px;
}

.menu-svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35px;
}

.title {
  font-weight: 645;
  font-family: "Red Hat Display", Bold;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.description {
  color: #888;
  font-weight: 400;
  font-family: "Red Hat Display";
  font-size: 12px;
  margin: 0;
}

/* --- Flèche Standard --- */
.arrow {
  opacity: 0;
  margin-left: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.submenu-item:hover .arrow {
  opacity: 1;
  transform: translateX(3px);
}

.submenu-item:hover .title-text,
.submenu-item:hover .title-text-ext {
  text-decoration: underline !important;
}

/* --- GESTION DES ICÔNES EXTERNES (is_ext) --- */

/* Conteneur pour superposer les deux icônes */
.icon-ext {
  margin-left: 8px;
  color: #50e3c2; /* Couleur turquoise spécifique */
  font-size: 0.9rem;
  display: inline-flex;
  position: relative;
}

/* Cacher l'icône de survol par défaut */
.icon-ext .icon-ext2 {
  display: none;
}

/* Basculement au survol de l'item parent */
.submenu-item:hover .icon-ext1 {
  display: none;
}

.submenu-item:hover .icon-ext2 {
  display: inline-block;
}

/* --------- category color --------- */

.icon-box.feature-submenu {
  background-color: #fff0f3 !important; /* Rose clair */
}
.icon-box.feature-submenu i {
  color: #ff3366 !important; /* Rose vif */
}

.icon-box.use-case-submenu {
  background-color: #fff5eb !important; /* Orange clair */
}
.icon-box.use-case-submenu i {
  color: #ff8c00 !important; /* Orange vif */
}

/* --------------- MEDIA QUERIES ---------------*/

@media (max-width: 402px) {
  .submenu-item {
    width: 100%;
    height: auto;
    padding: 0;
    align-items: center;
  }

  .description {
    display: none;
  }

  .title {
    font-size: 15px;
  }

  .icon-box {
    width: 22px;
    height: 22px;
  }
  .arrow, .icon-ext {
    display: none;
  }
  .menu-svg {
    object-fit: none;
  }
}